body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
								/* Header Section */
								
.flexible-container {
    display: flex;
    margin-bottom: 80px;
}
.header_title_section {
	border-left: 5px solid;
	border-image: linear-gradient(#3C3FD9, #6F6F8669) 1;
	padding-left: 10px;
}
h1 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
}
.colorful-h1 {
	color: #3C3FD9;
}
.header_image{
	width: 79%;
	margin-top: -5%;
}
.half-width {
	width: 50%;
}
.header-margin-padding {
	margin-left: 5%;
    padding-left: 5%;
    margin-top: 3%;
}
.explore_now {
	text-decoration: none;
	font-weight: 800;
	background: linear-gradient(45deg, #069595, #1C20E1D6);
	color: white;
	padding: 10px 40px;
	border-radius: 5px;
}
#get_extra_top_padding {
    padding-top: 20px;
}

							/* My Mission Section */
							
.mission-container {
	padding-left: 6%;
	padding-right: 6%;
}
.mission-h1 {
	text-align: center;
	margin-bottom: 60px;
}
.illustrator {
	width: 35%;
}
#mission-boxes {
	border: 1px solid;
	width: 40%;
	margin-left: 3%;
	padding: 25px 20px 20px 25px;
}
p {
	line-height: 2em;
}

							/* Learning Without Limits Section */

.learning-without-limits {
	margin-right: 8%;
}
.learning-illustrator {
	width: 60%;
	padding-left: 32%;
}
.learning-div {
	padding-top: 5%;
}

							/* Working With Team Section */


.work-with-team {
	margin-left: 8%;
}
.worrking-div {
	padding-top: 5%;
	padding-left: 0%;
}
.working-illustrator {
	width: 80%;
	padding-left: 6%;
}